.sideBarContainer {
    padding: 20px;
}
.header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.faCloseContainer {
    align-self: center;
    padding: 5px;
}

.faCloseContainer:hover {
    background-color: #DDD;
}

.example-container {
    height: 100%;
}

.example-sidenav {
    padding: 20px;
    position: fixed;
}

h2 {
    font-family: Poppins Latin;
    font-size: 22px;
    font-weight: 300;
    color: #717171;
}

h3 {
    font-family: Poppins Latin;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    color: #0049b0;
}

h4 {
    font-family: Poppins Latin;
    font-size: 14px;
    font-weight: 600;
}

.matTab {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.matTab app-selected-metrics {
    width: 76%;
}
    
.matTab categories-list {
    width: 24%;
    height: 100vh;
}