.matTab {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.mat-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 48px;
    background-color: #f4f5f7;
    margin-left: 0;
}

.matTab app-side-bar {
    width: 80%;
}
    
.matTab categories-list {
    width: 20%;
}